.cabecalho {
    display: flex;
    height: 80px;
}

.cabecalhoLogo {
    margin-top:  26px;
    margin-left: 112px;
}

.cabecalhoNav {
    display: flex;
    align-items: center;
    margin-left: 119px;
    margin-right: 16em;
}

.cabecalhoNavItem {
    margin-left: 32px;
}

.cabecalhoNavLink {
    color: var(--cinza);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.cabecalhoUser {
    display: flex;
    align-items: center;
}

.cabecalhoLogin {
    color: var(--cinza);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.cabecalhoCadas {
    color: var(--branco);
    background-color: var(--vermelho);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 30px;
}